/*Fonts*/

.inter-banner-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal; 
}
.raleway-btn-font {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal; }

/*Root*/
.text-align-center{
    text-align: center;
}
/*Main*/

*{
    margin: 0;
}
body{
    background-color: #F8F8FF;
}
.banner {
    background-image: url("/Assets/Hero-bg.png");
    height: 698px;
    background-repeat: no-repeat;
    background-position:inherit;
    width: 100%;
}
.banner-nav{
    display: flex;
    justify-content: space-between;
    padding: 50px 150px;
    align-items: center;
}
.logo {
    font-size: 34px;
    font-weight: 900;
}
.logo a{
    text-decoration: none;
    color: #4E47FF;
}
.btn{
    background-color: #4E47FF;
    text-align: center;
    border-radius: 10px;
    border: none;
    width: 132px;
    height: 48px;
}
.btn a{
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: bold;
}
.banner-box{
    padding: 109px 167.5px 152px 167.5px;
    margin: 0 auto;
    align-items: center;
}
.banner-text{
    align-items: center;
    font-size: 65px;
    font-weight: bold;
    color: #252432;
    margin-bottom: 37px;
}
.banner-btn {
    background-color: #4E47FF;
    border: none;
    padding:12px 36px 12px 36px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border-radius: 10px;
}
.banner-two {
    padding: 116px 141px 116px 141px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.banner-two img{
    width: 403;
    height: 328;
    border-radius: 48px;
}
.banner-two-txt {
    margin-right: 220px;
}
.banner-two-txt p, h3{
    margin-bottom: 23px;
}
.banner-two-head {
    font-size: 42px;
    font-weight: bold;
    color: #252432;
}
.banner-two-desc{
    color: #25243280;
    font-weight: normal;
    font-size: 24px;
}
.banner-two-btn {
    width: 229px;
    height: 48px;
    border: none;
    background-color: #4E47FF;
    border-radius: 10px;
    color: white;
    font-size: 16px;
    font-weight: bold;
}
.banner-three{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color:#4d47ff27;
    margin: 0 141px 137px 141px;
    height: 306px;
    border-radius: 10px;
}
.banner-three-head {
    line-height: 50px;
    font-size: 38px;
    font-weight: bold;
    color: #252432;
}
.banner-three-items {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 159px;
    padding: 0;
    margin: 0 auto;
    flex-wrap: wrap;
    text-align: center;
}
.bt-item h4{
    font-size: 80px;
    font-weight: bold;
    color: #4E47FF;
}
.bt-item p {
    font-size: 20px;
    font-weight: normal;
    color: #00000080;
}
.banner-four{
    margin:0 141px 137px 141px;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.banner-four-head {
    font-size: 42px;
    line-height: 120%;
    font-weight: bold;
    text-align: center;
    color: #252432;
    margin-bottom: 50px;
}
.banner-four-cards {
    display: flex;
    gap: 20px;
} 
.banner-four-card {
    border-radius: 14px;
    padding: 24px;
    background-color: #ffffff80;
    border: 1px solid #F2EDED;
    text-align: left;
}
.bf-card-stars{
    display: flex;
    gap: 4px;
    margin-bottom: 24px;
}
.bf-card-head {
    color: #1E1E1E;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 8px;
}
.bf-card-desc{
    color: #1E1E1E;
    font-weight: normal;
    font-size: 16px;
    margin-bottom: 24px;
}
.bf-reviewer {
    display: flex;
    gap: 12px;
}
.bf-reviewer img{
    border-radius: 9999px;
    width: 40px;
    height: 40px;
}
.bf-card-name-date{
    display: block;
}
.bf-reviewer-name{
    font-size: 16px;
    font-weight: 600;
    color: #757575;
}
.bf-review-date{
    font-size: 16px;
    font-weight: normal;
    color: #757575;
}
.banner-five {
    margin: 0 141px 92.23px 141px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 71px 150px;
    background-color: white;
    gap: 20px;
    border-radius: 14px;
    text-align: center;
}
.banner-five-head{
    color: #000000;
    font-size: 50px;
    font-weight: bold;
}
.banner-five-desc{
    font-size: 16px;
    font-weight: normal;
    color: #00000080;
}
.banner-five-btn{
    justify-content: center;
    width: 195px;
    height: 48px;
    padding: 12px 36px;
    border-radius: 10px;
    border: none;
    box-shadow: inset 0 0 0 1px #ffffff81;
    background-color: #4E47FF;
    font-size: 16px;
    font-weight: 500;
    color: #FFFFFF;
}
.banner-five-img {
    width: 840px;
    height: 364.77px;
    border-radius: 48px;
}
.banner-form {
    margin: 0 141px 14px 141px;
    padding: 71px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    gap: aut0;
}
.banner-form-head {
    font-size: 97px;
    font-weight: bold;
    color: #000000;
    text-align: left;
    width: 528px;
    height: 232px;
}
.banner-form-main{
    display: block;
    align-content: center;
    justify-items: end;
    width: 497px;
    height: 490px;
    gap: 19px;
}
.banner-form-main form label {
    font-size: 18px;
    font-weight: 600;
    color: #000000;
}