/*Fonts*/

.inter-banner-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal; 
}
.raleway-btn-font {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal; }

/*Root*/
.text-align-center{
    text-align: center;
}
/*Main*/

*{
    margin: 0;
}
.banner {
    background-image: url("/Assets/Hero-bg.png");
    height: 698px;
    background-repeat: no-repeat;
    background-position:inherit;
    width: 100%;
}
.banner-nav{
    display: flex;
    justify-content: space-between;
    padding: 50px 150px;
    align-items: center;
}
.logo {
    font-size: 34px;
    font-weight: 900;
}
.logo a{
    text-decoration: none;
    color: #4E47FF;
}
.btn{
    background-color: #4E47FF;
    text-align: center;
    border-radius: 10px;
    border: none;
    width: 132px;
    height: 48px;
}
.btn a{
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: bold;
}
.banner-box{
    padding-top: 140px;
    padding-bottom: 50px;
    margin: 0 auto;
    align-items: center;
}
.banner-text{
    align-items: center;
    font-size: 65px;
    font-weight: bold;
    color: #252432;
    margin-bottom: 37px;
}
.banner-btn {
    background-color: #4E47FF;
    border: none;
    padding:12px 36px 12px 36px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border-radius: 10px;
}